<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #2f3f61; margin-bottom:5px;">
  <a class="navbar-brand" href="/" style="color:white;">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/saved" style="color:white;">Saved Articles <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <button type="button" class="btn btn-success" id="clear">Clear Articles</button>
      </li>
    </ul>
  </div>
</nav>


<div class="container">
    {{#each articles}}

        <div class="card" style="margin-bottom:10px;">
            <a href={{link}}>
            <h5 class="card-header">{{title}}</h5>
            </a>
            <div class="card-body">
                <p class="card-text">{{summary}}</p>
                <button type="button" class="btn btn-primary saveArticle" data-id={{_id}} style="background-color:#2f3f61">Delete From Saved</button>
                <button type="button" class="btn btn-primary" id="notes" data-id={{_id}} style="background-color:#2f3f61">Article Notes</button>
            </div>
        </div>

<div class="modal" tabindex="-1" role="dialog" id={{_id}}>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{#each articles.notes}}
        <div>
          <p>{{body}}</p>
        </div>
        {{/each}}
        
      </div>
      <div class="modal-input">
        <label id="noteLabel">Note:</label>
        <textarea name="note" id="noteInput" rows="3" cols="25">Add Note</textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-id={{_id}} id="submitNote">Save</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    {{/each}}

</div>


